.blastocontenedor{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 4fr auto;
    grid-template-areas:
    "blasto blasto"
    "blastomain blastoaside"
    "footer footer";
    
}