.blastomain{
    background-color: white;
    padding:1.2rem;
    grid-area: blastomain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.blastomain h1{
    text-align: center;
    padding: 1rem;
}
.blastomain .img{
    align-self: center;
}
.blastomain p{
    line-height: 1.5;
    padding: 1rem;
}