.main{
    background-color: white;
    padding:1.2rem;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.main h1{
    text-align: center;
    padding: 1rem;
}
.main .img{
    align-self: center;
}
.main p{
    line-height: 1.5;
    padding: 1rem;
}