.pikaaside{
    background-image: url(../img/Pikachu-Wallpaper-Pics-Download-2-scaled.jpg);
    padding: 1.2rem;
    grid-area: pikaaside;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.pikaaside h2{
    align-self: center;
    margin: 1rem;
}
.pikaaside h3{
    align-items: center;
    margin-left: 2rem;
}
.pikaaside img{
    align-content: center;
    margin-left: 12rem;
    width: 200px;
}
.pikaaside img:hover{
    scale: 125%;
}