.pichumain{
    background-color: white;
    padding:1.2rem;
    grid-area: pichumain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.pichumain h1{
    text-align: center;
    padding: 1rem;
}
.pichumain .img{
    align-self: center;
}
.pichumain p{
    line-height: 1.5;
    padding: 1rem;
}