.sqaside{
    background-color: #7ff7d9;
    padding: 1.2rem;
    grid-area: sqaside;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.sqaside h2{
    align-self: center;
    margin: 1rem;
}
.sqaside h3{
    align-items: center;
    margin-left: 2rem;
}
.sqaside img{
    align-content: center;
    margin-left: 12rem;
    width: 200px;
}
.sqaside img:hover{
    scale: 125%;
}