.squirtle{
    background-image: url(/img/HD-wallpaper-pokeboll-cartoon-pokebola-pokemon.jpg);
    background: repeat cover;
    padding: 1.4rem;
    grid-area: squirtle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.squirtle img{
    width: 100px;
}
.squirtle nav ul{
    list-style: none;
    background-color: #7f8bf7;
    display: flex;
    justify-content: flex-end;
    
}
.squirtle nav ul a{
    color: black;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
    
}
.squirtle nav ul ul{
    position: absolute;
    display: none;
}
.squirtle nav ul ul li{
    display: block;
}
ul li:hover ul {
    display: block;
    background-color: rgb(141, 110, 110);
}
.squirtle nav li a:hover{
    background-color: rgb(107, 181, 216);
    color:black;
}